html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  color: #121d1f;
}
hr {
  height: 1px;
  width: 70px;
  text-align: center;
  position: relative;
  background: #666;
  margin: 0 auto;
  margin-bottom: 30px;
  border: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

.button {
  margin-top: 30px;
  padding: 14px 20px;
  border: 1px solid #121d1f;
  color: #121d1f;
  text-transform: uppercase;
  line-height: 1.333333;
  background-color: rgba(255, 255, 255, 0.1);
}
.button:hover {
  background-color: #121d1f;
  color: white;
}

.secondary__title {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 400;
}
html {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}
