<template>
  <section
    id="about"
    class="about-me">
    <h2 class="secondary__title">About me</h2>
    <hr>
    <div class="about__image"/>

    <p>My name is Stefan Bondzulic, I am Belgrade based full stack Web Developer, focusing on fast web apps while still thinking of accessability and design.</p>

    <p>I am currently working as a full-time Web Developer at Luxor Limo, since April 2018</p>
    <a
      v-scroll-to="'#about'"
      href="#portfolio"
      class="button">My Portfolio</a>
  </section>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
  .about-me {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 150px 0;
  }
  .about__image {
    background: center / cover url('~@/assets/img/me.jpg') no-repeat;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 50px 0 0;
  }
  p {
    margin: 40px 0 30px;
    line-height: 22px;
    width: 50%;
    text-align: center;
  }
</style>
