<template>
  <header
    id="banner"
    class="banner">
    <slot name="title"/>
    <hr>
    <slot name="list"/>
    <a
      v-scroll-to="'#about'"
      href="#"
      class="button">Learn More</a>
  </header>
</template>

<script>
export default {
    name: 'Banner'
}
</script>

<style lang="scss" scoped>
  .banner {
    height: 70vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background: center / cover url('~@/assets/img/banner.jpeg') no-repeat;
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: overlay;
  }
  .banner__title {
    font-size: 48px;
    text-transform: uppercase;
  }
  .banner__list {
    display: flex;
    padding: 0;
    margin: 10px 0 50px;
    font-size: 20px;
    li {
      margin-left: 25px;
    }
    li:first-child {
      list-style: none;
    }
  }
</style>
