<template>
  <section
    id="contact"
    class="contact">
    <h1 class="secondary__title">Get in Touch</h1>
    <hr>
    <form action="post">
      <div class="contact__input__group">
        <input
          type="text"
          placeholder="Name">
        <input
          type="email"
          placeholder="Email">
      </div>
      <textarea
        id=""
        name=""
        placeholder="Message"
        rows="5"/>
      <br>
      <input
        type="submit"
        value="Send Message"
        class="button">
    </form>
  </section>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
    .contact {
      padding: 100px 0;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      form {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin: 70px 0 0;
      }
      input,
      textarea {
        font-size: 18px;
        padding: 10px 15px;
        margin: 10px;
        box-sizing: border-box;
      }
      .contact__input__group {
        input:first-child {
          margin-left: 0;
        }
        input:last-child {
          margin-right: 0;
        }
      }
      textarea {
        width: 100%;
      }
    }
</style>
