<template>
  <footer class="footer">
    <p>Copyright © 2018 Portfolio. Designed by TemplateWire</p>
  </footer>
</template>

<script>
export default {
    name: 'Footer'
}
</script>

<style lang="scss" scoped>
    .footer {
      text-align: center;
      font-size: 14px;
      background-color: #f6f6f6;
      padding: 30px 0 25px 0;
    }
</style>
