<template>
  <div
    :class="{ open: isOpen}"
    class="hamburger-menu"
    @click="$emit('click', $event.target.value)">
    <div class="bar"/>
    <div class="bar"/>
    <div class="bar"/>
  </div>
</template>

<script>
export default {
    props: {
        isOpen: {
            type: Boolean,
            default: false,
            required: true
        }
    }
}
</script>

<style lang="scss">
    .hamburger-menu {
      cursor: pointer;
      transition: 0.5s ease;
      display: inline-block;
      padding: 8px;
      border: 1px solid #555;
      border-radius: 5px;
      height: 31px;
      .bar {
        width: 40px;
        height: 5px;
        background: #555;
        border-radius: 2px;
        transition: 0.4s ease;
        &:not(:first-child) {
          margin-top: 8px;
        }
      }
    }
    .open {
      .bar {
        transform: rotatey(180deg) rotatex(360deg);
        &:first-child {
          transform: rotate(-45deg);
          margin-top: 14px;
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          margin-top: -18px;
          transform: rotate(45deg);
        }
      }
    }
</style>
