<template>
  <section>

    <!-- absolute navigation -->
    <!-- hamburger -->
    <hamburger
      v-if="$eq.small"
      :is-open="isOpen"
      @click="menuToggle"/>

    <!-- navigaiton -->
    <nav
      v-if="$eq.small"
      id="navigation"
      :class="classObject" >
      <ul>
        <li><a
          v-scroll-to="'#about'"
          href="#"
          @click.prevent="onDone">about</a></li>
        <li><a
          v-scroll-to="'#portfolio'"
          href="#"
          @click.prevent="onDone">portfolio</a></li>
        <li><a
          v-scroll-to="'#contact'"
          href="#"
          @click.prevent="onDone">Contact</a></li>
      </ul>
    </nav>

    <!-- navigation -->
    <nav
      v-if="!$eq.small"
      id="navigation"
      :class="classObject" >
      <ul>

        <!-- item -->
        <li><a
          v-scroll-to="{
            el: '#about',
            duration: 500,
            offset: 1
          }"
          href="#">about</a></li>

        <!-- item -->
        <li><a
          v-scroll-to="'#portfolio'"
          href="#">portfolio</a></li>

        <!-- item -->
        <li><a
          v-scroll-to="'#contact'"
          href="#">Contact</a></li>

      </ul>
    </nav>

  </section>
</template>

<script>
import Hamburger from './hammburger.vue';

export default {
  name: 'Navigation',
  components: {
    'hamburger': Hamburger
  },
  eq: {
    breakpoints: {
      small: { maxWidth: 669 }
    }
  },
  props: {
    fixed: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      isOpen: false
    }
  },
  computed: {
    classObject() {
      return {
        navigation: !this.$eq.small,
        'navigation--fixed': this.fixed && !this.$eq.small,
        'navigation--wrap': this.$eq.small,
        'navigation--wrap-open': this.isOpen
      }
    }
  },
  methods: {
    menuToggle() {
      this.isOpen = !this.isOpen;
    },
    onDone() {
      this.isOpen = false
    }
  },
}
</script>

<style lang="scss" scoped>
  .navigation {
    width: 100%;
    background-color: #f6f6f6;
    min-height: 50px;
    position: relative;
    padding: 10px 0;
    &--fixed {
      top: 0;
      position: fixed;
      z-index: 100;
    }

    ul {
      display: flex;
      justify-content: center;

      li {
        list-style: none;
        padding: 0 60px;
        text-transform: uppercase;
        color: #555;
        &:hover {
          color: #000;
        }
      }
    }
  }
  .navigation--wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(246, 246, 246, 0.92);
    ul {
      list-style: none;
      text-transform: uppercase;
      text-align: center;
      li {
        padding: 20px;
      }
    }
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 2;
  }
  .navigation--wrap-open {
    visibility: visible;
    opacity: 1;
  }
  .hamburger-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3;
  }
</style>
