<template>
  <section
    id="portfolio"
    class="portfolio">
    <h2 class="secondary__title">Portfolio</h2>
    <hr>
    <div class="portfolio__categories">
      <a
        class="button"
        href="#">All</a>
      <a
        class="button"
        href="#">Web Dev</a>
      <a
        class="button"
        href="#">Design</a>
    </div>
  </section>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
    .portfolio {
      background-color: #f6f6f6;
      padding: 150px 0;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
    }
    .portfolio__categories {
      display: flex;
      flex-flow: row;
      justify-content: center;
    }
    .button {
      margin: 0 20px;
      font-size: 14px;
      padding: 8px 16px;
      text-transform: capitalize;
    }
</style>
