<template>
  <div class="landing">
    <div class="split left">
      <h1>Interested in the dark side?</h1>
      <nuxt-link
        class="button"
        to="/dark">Find Out More</nuxt-link>
    </div>
    <div class="split right">
      <h1>Portfolio</h1>
      <a href="#">Read More</a>
    </div>
  </div>
</template>

<script>

export default {
  components: {
  }
}
</script>

<style lang="scss" scoped>
  .landing {
    display: flex;
    flex-flow: row;
  }
  .split {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex: 1 1 50%;
    margin: 0;
    border: none;
  }
  .left {
    background: center / cover url('~@/assets/img/left.jpeg') no-repeat;
    background-color: #151515;
    background-blend-mode: overlay;
    transition: flex-basis 0.5s ease-in-out;
    color: #fff;
    * {
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.5s 0.5s;
    }
  }
  .left:hover {
    flex: 1 1 85%;
    * {
      visibility: visible;
      opacity: 1;
    }
  }
  .right {
    transition: flex-basis 0.5s;
    background: center / cover url('~@/assets/img/right.png') no-repeat;
  }
  .right:hover {
    flex: 1 1 85%;
  }
  .button {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    border-color: darken(#fff, 10);
  }
</style>

