<template>
  <div>
    <banner>
      <h1
        slot="title"
        class="banner__title">Stefan</h1>
      <ul
        slot="list"
        class="banner__list">
        <li>Full Stack Web</li>
        <li>Design</li>
      </ul>
    </banner>

    <navigation :fixed="fixed"/>

    <about/>

    <portfolio/>

    <contact/>

    <app-footer/>

  </div>
</template>

<script>
import Banner from '~/components/banner.vue'
import Navigation from '~/components/navigation.vue'
import About from '~/components/about.vue'
import Portfolio from '~/components/portfolio.vue'
import Contact from '~/components/contact.vue'
import Footer from '~/components/footer.vue'

export default {
    components: {
    'banner': Banner,
    'navigation': Navigation,
    'about': About,
    'portfolio': Portfolio,
    'contact': Contact,
    'app-footer': Footer
    },
    data() {
        return {
            fixed: false
        }
    },
    mounted() {
        document.body.addEventListener('scroll', this.handleScroll);
    },
    beforeDestroy() {
        document.body.removeEventListener('scroll', this.handleScroll);
    },
    methods: {
        handleScroll () {
            this.fixed = document.body.scrollTop > document.getElementById('banner').scrollHeight;
        }
    }
}
</script>

<style>
</style>
